.bannerHome {
    position: relative;
    width: 100%;
    /* Largura total */
    max-height: 100vh;
    /* Altura mínima do banner */
    background-image: url('../../../../public/Images/home4.jpg');
    background-position: center center;
    /* Centraliza a imagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a área */
    display: flex;
    /* Usando flexbox para centralizar o conteúdo */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    transition: background 0.3s ease;
    /* Transição suave para o fundo */
    margin-top: 0;
}

.bannerHome-content {
    background: linear-gradient(293deg,
    rgba(255, 255, 255, 0) 17%,
    rgba(255, 255, 255, 0.4) 22%,
    rgba(255, 255, 255, 0) 27%,
    rgba(0, 0, 0, 0) 83%,
    rgba(0, 0, 0, 0.7) 83%),
        linear-gradient(-5deg, rgba(0, 0, 0, 0) 49.92%, rgba(100, 115, 225, 0.2) 96.2%);

    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    height: 100vh;
    width: 100%;
    /* Para ajustar a largura em telas menores */
    max-width: 1600px;
    /* Limita a largura máxima */
    margin: 0 auto;
}

.bannerHome h1 {
    color: #F8FAFD;
    width: 956px;
    height: 135px;
    top: 308.16px;
    left: 68.19px;
    gap: 0px;
    opacity: 0px;
    font-family: Satoshi;
    font-size: 100px;
    font-weight: 700;
    line-height: 135px;
    text-align: left;
    margin-top: 25vh !important;
    text-shadow: 3px 2px 1px #000000;
}

.bannerHome h5 {
    text-shadow: 1px 1px 1px #000000;
}

.public-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.public-box p {
    max-width: 60vw;
}

.public-photo img {
    max-width: 30vw;
}

/* Responsividade */
@media (min-width: 768px) {
    .header {
        --content-width: 920px;
        /* Largura do conteúdo em telas maiores */
        padding: 0%;
        /* foi adicionado para cobrir o banner ver oque prejudica a responsividade*/
    }

    .banner-content {
        --overlay-opacity: 0.5;
        /* Opacidade do overlay */
    }
}